@{
    ViewBag.Title = "Contato";
}
<div class="jumbotron">
    <h2>Volait Enterprises</h2><br />
    <h3>Entre em contato connosco!</h3>
</div>
<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Nossa empresa:</strong>   <a href="mailto:VolaitTrips@gmail.com">VolaitTrips@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Azhure@gmail.com">Azhure@gmail.com</a>
</address>