@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Volait </h1>
        <p class="lead">Linhas Áereas</p>
    </center>
    
</div>
<h2> Boas vindas a versão 2.0 do sistema! <span class="badge badge-secondary">New</span></h2>


<div class="row">
    <div class="col-md-4">
        <h2>O mundo é pequeno para Volait</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>De turista para turista, Volait!</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Web Help</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>



    
